<div class="taxonomy-page">
    <div class="section-heading">
        <p class="section-label">Tags</p>
        <h1>Keywords across the archive</h1>
    </div>
    <ul class="taxonomy-list taxonomy-list-tags">
        <% site.tags.each(function (tag) { %>
        <li class="taxonomy-item">
            <a class="taxonomy-link" href="<%- url_for(tag.path) %>">
                <span class="taxonomy-name"># <%= tag.name %></span>
                <span class="taxonomy-count"><%= tag.length %> posts</span>
            </a>
        </li>
        <% }) %>
    </ul>
</div>
<%- partial('_partial/paginator') %>
