<!-- header.ejs -->
<div class="header">
    <a class="logo" href="<%- url_for() %>"><%= config.title %></a>
    <p class="site-tagline"><%= config.subtitle %></p>
    <%- partial('_partial/site-nav') %>
</div>
